@font-face {
  font-family: "Gilroy";
  src: url("../src/assets/fonts/Gilroy-Regular.ttf");
}
* {
  font-family: "Gilroy", sans-serif;
  text-decoration: none;
}
body {
  text-decoration: none;
  margin: 0;
  background-color: #19181c;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #2d2d30;
}
::-webkit-scrollbar-thumb {
  background: #727080;
  border-radius: 10px;
}
